<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina Web</title>
</head>
<body>
    <header>
        <div><img src="" alt="Logo de La Empresa"></div>
        <nav>
            <ul>
                <li><a href="#">Productos</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="#">Crea tu cuenta</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <article>
            <img src="" alt="Titulo del Producto 1">
            <h3>Titulo del Producto 1</h3>
            <p>Bajada del Producto 1</p>
        </article>
        <article>
            <img src="" alt="Titulo del Producto 2">
            <h3>Titulo del Producto 2</h3>
            <p>Bajada del Producto 2</p>
        </article>
        <article>
            <img src="" alt="Titulo del Producto 3">
            <h3>Titulo del Producto 3</h3>
            <p>Bajada del Producto 3</p>
        </article>
    </section>

    <section>
        <article>
            <img src="" alt="Titulo del Producto 1">
            <h3>Titulo del Producto 1</h3>
            <p>Bajada del Producto 1</p>
            <a href="#">Ver Mas</a>
        </article>
        <article>
            <img src="" alt="Titulo del Producto 2">
            <h3>Titulo del Producto 2</h3>
            <p>Bajada del Producto 2</p>
            <a href="#">Ver Mas</a>
        </article>
        <article>
            <img src="" alt="Titulo del Producto 3">
            <h3>Titulo del Producto 3</h3>
            <p>Bajada del Producto 3</p>
            <a href="#">Ver Mas</a>
        </article>
    </section>

    <footer>
        <div><img src="" alt="Logo de La Empresa"></div>
        <section>
            <h2>Productos</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
        </section>
        <section>
            <h2>Servicios</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
        </section>
        <section>
            <h2>Nosotros</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
        </section>
        <section>
            <h2>Redes Sociales</h2>
            <ul>
                <li><a href="#">Enlace 1</a></li>
                <li><a href="#">Enlace 2</a></li>
                <li><a href="#">Enlace 3</a></li>
            </ul>
        </section>
    </footer>

</body>
</html>